.App {
  text-align: center;
}

h1 {
  color: white;
  border: solid white;
  border-width: 0.5px 0px 0.5px 0px;
  padding: 20px;
  margin: 0px 0px 50px 0px;
  margin-bottom: 50px;

}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keys {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 525px;
}

.key {
  background-color: rgb(129,131,132);
  color: white;
  font-weight: bold;
  padding: 20px 0px 20px 0px;
  width: 45px;
  flex-shrink: 1;
  border-radius: 5px;
  margin: 3px;
}

.key-break {
  margin-left: 11px;
}


.guess-boxes {
  display: flex;
  justify-content: center;
  position: relative;
}

.guess-box {
  width: 50px;
  height: 50px;
  margin: 3px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  border: solid rgb(58,58,60);
}

button {
  font-size: 18px;
  font-weight: bold;
  padding: 8px 75px 8px 75px;
  border: none;
  border-radius: 5px;
  color: white;
}

.buttons {
  display: flex;
  width: 500px;
  justify-content: space-around;
  padding: 10px;
}

.delete {
  background-color: rgb(185, 0, 0);
}

.submit {
  background-color: rgb(0, 165, 0);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18, 18, 19, .3);
  z-index: 5;
}

.game-result {
  background-color: rgb(24, 24, 26);
  color: white;
  position: absolute;
  width: 400px;
  padding: 50px 20px 50px 20px;
  margin-top: 25vh;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgb(10, 10, 12, .8);
  z-index: 10;
}

h3 {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 40px;
}

.error-msg {
  position: absolute;
  background-color: white;
  padding: 3px 15px 3px 15px;
  border-radius: 2px;
  top: 25%;
  font-weight: bold;
  animation: horizontal-shaking 0.15s 0s;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}